<div style="margin-top: 10vh;">

    <h1 *ngIf="!pilotName"class="text-center bg-danger p-2">
        Чекаємо пілота...
    </h1>

    <h1 *ngIf="pilotName" class="text-center bg-success p-2">
        Пілот {{pilotName}} готовий.
    </h1>

    <div class="row mt-2">
        <div class="col-12">
            <div class="d-flex justify-content-around">
                <button style="font-size: 42px;" class="btn btn-primary" (click)="openSettings()">
                    Налаштування
                </button>
    
                <button [disabled]="pathLength<=0 || !pilotName" style="font-size: 42px;" class="btn btn-primary" (click)="start()">
                    Почати програму
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isSettingsOpened" class="row" style="margin-top: 12px;">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Налаштування точок</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <!-- <th>
                                Айді
                            </th> -->
                            <th>
                                Назва об'єкту
                            </th>
                            <th>
                                Конструкція об'єкту
                            </th>
                            <th>
                                Цифра
                            </th>
                            <th>
                                Колір
                            </th>
                            <th>
                                Активна
                            </th>
                            <th>
                                Редагування
                            </th>
                            <th>
                                Скопіювати
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let point of points">
                                <!-- <td>
                                    {{point.constructionId}}
                                </td> -->

                                <td *ngIf="point.constructionId !== editId">
                                    {{ point.name }}
                                </td>
                                <td *ngIf="point.constructionId === editId">
                                    <input [(ngModel)]="point.name" type="text" class="form-control">
                                </td>

                                <td *ngIf="point.constructionId !== editId">
                                    {{ point.constructionType }}
                                </td>
                                <td *ngIf="point.constructionId === editId">
                                    <input [(ngModel)]="point.constructionType" type="text" class="form-control">
                                </td>

                                <td *ngIf="point.constructionId !== editId">
                                    {{ point.number }}
                                </td>
                                <td *ngIf="point.constructionId === editId">
                                    <input [(ngModel)]="point.number" type="text" class="form-control">
                                </td>

                                <td *ngIf="point.constructionId !== editId">
                                    {{point.color}}
                                </td>
                                <td *ngIf="point.constructionId === editId">
                                    <input [(ngModel)]="point.color" type="text" class="form-control">
                                </td>
                                
                                <td class="text-center">
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input [disabled]="point.constructionId !== editId" [(ngModel)]="point.isEnabled" type="checkbox" style="width: 20px; height:20px;" class="custom-control-input"><span class="custom-control-label"></span>
                                    </label>
                                </td>


                                <td *ngIf="point.constructionId !== editId">
                                    <button (click)="enterEditMode(point.constructionId)">
                                        Змінити
                                    </button>
                                </td>
                                <td *ngIf="point.constructionId === editId">
                                    <button (click)="savePoint(point.constructionId)">
                                        Зберегти
                                    </button>
                                </td>

                                <td>
                                    <button (click)="makeCopy(point)">
                                        Копіювати
                                    </button>
                                </td>

                            </tr>
                            <tr>
                                <!-- <td>
                                    <input [(ngModel)]="constructionId" type="text" class="form-control" placeholder="constructionId">
                                </td> -->
                                <td>
                                    <input [(ngModel)]="name" type="text" class="form-control" placeholder="name">
                                </td>
                                <td>
                                    <input [(ngModel)]="constructionType" type="text" class="form-control" placeholder="constructionType">
                                </td>
                                <td>
                                    <input [(ngModel)]="number" type="number" class="form-control" placeholder="number">
                                </td>
                                
                                <td>
                                    <input [(ngModel)]="color" type="text" class="form-control"placeholder="color">
                                </td>

                                <td class="text-center">
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input [(ngModel)]="isEnabled" type="checkbox" style="width: 20px; height:20px;" class="custom-control-input"><span class="custom-control-label"></span>
                                    </label>
                                </td>
                                
                                <td>
                                    <button class="btn btn-success" (click)="addPoint()">
                                        Створити
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 400px; margin: 0 auto;">
        <div class="row">
            <div class="col-12">
                <div>
                    <label class="col-form-label">Введіть довжину кола</label>
                    <input
                      [(ngModel)]="pathLength"
                      type="text"
                      class="form-control"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2 mb-2">
        <div id="intMap" (click)="selectPoint($event)" style="background-image: url(../../../assets/images/map.jpg); width: 1280px; height: 922px; background-repeat: no-repeat; position: relative;">

        </div>
    </div>

</div>
