.step {
    border: 2px solid black;
    cursor: pointer;
}

.step-inner-text {
    color: white;
    font-weight: bold;
    text-align: center; 
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: white;
    height: fit-content;
    width: fit-content;
}
