<div style="margin-top: 10vh;">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <input style="width: 200px;" class="form-control" placeholder="nickname" [(ngModel)]="userName">
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <button [disabled]="userName === ''" class="btn btn-info" style="font-size: 42px;" (click)="start()">
                        Розпочати
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>
