<div style="margin-top: 10vh;">
    <div *ngIf="!isFinished">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <input style="width: 200px;" class="form-control" placeholder="nickname" [(ngModel)]="nickname">
    
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col-12">
                <div *ngIf="selectedPoint" class="text-center">
                    <h1>
                        {{selectedPoint.number}}
                        {{selectedPoint.color}}
                    </h1>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <button [disabled]="nickname === ''" class="btn btn-info" style="font-size: 42px;" (click)="pointCompleted()">
                        Пролетів
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isFinished">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <!-- <th>
                                    ID
                                </th> -->
                                <th>
                                    Name
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Best Time
                                </th>
                                <th>
                                    Nickname
                                </th>
                                
 
                            </thead>
                            <tbody>
                                <tr *ngFor="let res of result">
                                    <!-- <td>
                                        {{point.id}}
                                    </td> -->
                                    
    
                                    <td >
                                        {{ res.point.name }}
                                    </td>

    
                                    <td >
                                        {{ res.point.color }}
                                    </td>
     
                                    
                                    <td >
                                        {{ res.point.color }}
                                    </td>

                                    <td >
                                        {{ res.point.bestResultTime }}
                                        <span *ngIf="res.difference > 0" style="color: red"> 
                                            (+{{ res.difference }})
                                        </span>
                                        <span *ngIf="res.difference < 0" style="color: green"> 
                                            ({{ res.difference }})
                                        </span>
                                    </td>

                                    <td >
                                        <!-- prev -->
                                        {{ res.point.bestResultPilot }} 
                                    </td>
    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        Total {{ total }}
                        <br>
                        Mytotal: {{ totalMy }}
                        <span *ngIf="totalDiff > 0" style="color: red"> 
                            (+{{ totalDiff }})
                        </span>
                        <span *ngIf="totalDiff < 0" style="color: green"> 
                            ({{ totalDiff }})
                        </span>
                        Score: <span style="color: green">Відмінно</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
